@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
}
<style>
/*    body {
        background-image: url('https://thumbs.dreamstime.com/b/man-using-mobile-payments-online-shopping-icon-customer-network-connection-screen-m-banking-omni-channel-all-80671258.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
       
   
      }*/
      </style>
<h1 style="text-align:center;margin-top:20%;color:white;">
Hii.. @ViewBag.UserName

</h1>


