@using GroceryAppMvcCore;
@using System;
@using System.Linq;
@using System.Collections.Generic;
@model OrderView
@{
    ViewBag.Title = "View_Orders";
    List<Order> orderlist = new List<Order>();
    List<Cart> cartlist = new List<Cart>();
    Cart objcart = new Cart();
    Order objorder = new Order();

    List<Order> OrderData = Model.Orders;

    List<Cart> CartData = Model.Carts;


    
    int UserID = Convert.ToInt32(ViewBag.UserId);
    string CartIdList = " ";
    List<string> list = new List<string>();
    list = CartIdList.Split(',').ToList();
}
@foreach (Order order in OrderData)
{
    if (order.UserId == UserID)
    {
        <h1>Order Id: @order.OrderId</h1>

        string[] list1 = (CartIdList.Split(","));
        list1 = list1.Take(list1.Count() - 1).ToArray();
        <table>
            <tr>

                <th>CartId</th>
                <th>ProductId</th>
                <th>PurchasedQty</th>
                <th>Sub TotalPrice</th>
            </tr>
            @foreach (string i in list1)

            {
                foreach (Cart cartt in CartData)
                {
                    if (cartt.CartId == int.Parse(i))
                    {
                        
                    }
                }


            }
            }
            }


            @foreach (Cart cart in Model.Carts)
            {
                <tr>
                    <td>@cart.ProductId</td>
                    <td>@cart.PurchasedQty</td>


                </tr>



            }
        </table>
        <div>
            total Price :@objcart.SubTotalPrice
            @Html.ActionLink("Delete", "DeleteOrder", new { id=objorder.OrderId})
        </div>




    }

}
}
