@model IEnumerable<GroceryAppMvcCore.Models.Product>

@{
    ViewData["Title"] = "ViewProducts";
    Layout = "~/Views/Shared/_UsersLayout.cshtml";
    int CategoryID = Convert.ToInt32(ViewBag.CategoryId);
    ProductView obj = new ProductView();
    List<Product> products = new List<Product>();
    int Count = 0;
}
@if (ViewBag.Msg != null)
{
    <h2>@ViewBag.Msg</h2>

}

<h1>View Products</h1>



<environment names="Development">
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</environment>
<br />

<div class="uk-container">
    <hr class="uk-divider-icon">
    <div class="uk-child-width-1-3@m uk-grid-match uk-child-width-1-2@s" uk-grid>

        @foreach (var product in Model)
        {
            @if (CategoryID < 4)
            {
                @if (Count == 3 & obj.Products == null)
                {
                    obj.Products = products;
                    obj.Count = Count;
                    @await Html.PartialAsync("ProductCard", obj)

                }

                else if (product.CategoryId == CategoryID & Count < 3)
                {
                    products.Add(product);
                    Count += 1;
                }
                if (Count == 3 & obj.Products != null)
                {
                    obj.Products =products= null;
                    obj.Count = Count = 0;
                    if (product.CategoryId == CategoryID & Count < 3)
                    {
                        products.Add(product);
                        Count += 1;
                    }

                }
            }

        }


        if (obj.Products != null & obj.Count < 3 & obj.Count > 0)
        {

            @await Html.PartialAsync("ProductCard", obj)

        }
        else if (obj.Products == null)
        {
            @await Html.PartialAsync("ProductCard", obj)
        }


    </div>
    <br />
    <br />


</div>
