@model GroceryAppMvcCore.Models.Product

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Login.cshtml";
}



@*<h1>AddProduct</h1>
    <hr />*@
@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
@*<style>
    body{

    background-image: url(https://media.istockphoto.com/photos/simple-bright-white-background-with-white-to-light-gray-ombr-in-the-picture-id1295530809?b=1&k=20&m=1295530809&s=170667a&w=0&h=q5avWslouw2BSOmIv_RLpDvzvGobthShCtK3Q6ihPJg=);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    }
    </style>


    <div class="container">
    <div class="row">
    <h2 style="text-align:center ; color:black">Add Product</h2>

    <form asp-action="AddProduct">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset>


    <!-- Text input-->
    <div class="form-group">
    <label asp-for="ProductName" class="control-label"></label>
    <input asp-for="ProductName" class="form-control" />
    <span asp-validation-for="ProductName" class="text-danger"></span>

    </div>

    <!-- Text input-->
    <div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <!-- Text input-->
    <div class="form-group">
    <label asp-for="Price" class="control-label"></label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <!-- Text input-->
    <div class="form-group">
    <label asp-for="Qty" class="control-label"></label>
    <input asp-for="Qty" class="form-control" />
    <span asp-validation-for="Qty" class="text-danger"></span>
    </div>

    <!-- Text input-->
    <div class="form-group">
    < <label asp-for="ImageUrl" class="control-label"></label>
    <input asp-for="ImageUrl" type="file" accept=".png" class="form-control" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
    <label asp-for="CategoryId" class="control-label"></label>
    <select asp-for="CategoryId" class="form-control">
    <option value="1">Snacks</option>
    <option value="2">Vegetables</option>
    <option value="3">Bevarages</option>
    </select>
    <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
    </div>

    </fieldset>
    </form>

    </div>
    </div>*@
@*<div class="row">
    <div class="col-md-4">
    <form asp-action="AddProduct">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
    <label asp-for="ProductName" class="control-label"></label>
    <input asp-for="ProductName" class="form-control" />
    <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Price" class="control-label"></label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Qty" class="control-label"></label>
    <input asp-for="Qty" class="form-control" />
    <span asp-validation-for="Qty" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="ImageUrl" class="control-label"></label>
    <input asp-for="ImageUrl" type="file" accept=".png" class="form-control" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="CategoryId" class="control-label"></label>
    <select asp-for="CategoryId" class="form-control">
    <option value="1">Snacks</option>
    <option value="2">Vegetables</option>
    <option value="3">Bevarages</option>
    </select>
    <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
    </div>
    </form>
    </div>
    </div>*@

<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/style.css">

<div class="registration-form">


    <form asp-action="AddProduct">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <h3 style="text-align:center ; color:black">Add Product</h3>
        <div class="form-group">
            <label asp-for="ProductName" class="control-label"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="ProductDetails" class="control-label"></label>
            <input asp-for="ProductDetails" class="form-control" />
            <span asp-validation-for="ProductDetails" class="text-danger"></span>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label asp-for="Qty" class="control-label"></label>
            <input asp-for="Qty" class="form-control" />
            <span asp-validation-for="Qty" class="text-danger"></span>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label asp-for="ImageUrl" class="control-label"></label>
            <input asp-for="ImageUrl" type="file" accept=".png" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CategoryId" class="control-label"></label>
            <select asp-for="CategoryId" class="form-control">
                <option value="1">Snacks</option>
                <option value="2">Vegetables</option>
                <option value="3">Bevarages</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        <div>
            <a asp-action="ViewProducts">Back to List</a>
        </div>
    </form>

</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src="assets/js/script.js"></script>



<style>
    body {
        background-color: #dee9ff;
        background-image: url(https://wallpaperaccess.com/full/1624843.jpg);
        background-repeat: no-repeat;
        background-size:cover;
    }

    .registration-form {
        padding: 100px 100px 100px 100px;
        height: auto;
        margin-top: 0;
    }

        .registration-form form {
            background-color: #fff;
            max-width: 600px;
            margin: auto;
            padding: 50px 70px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        }

        .registration-form .form-icon {
            text-align: center;
            background-color: #5891ff;
            border-radius: 50%;
            font-size: 40px;
            color: white;
            width: 100px;
            height: 100px;
            margin: auto;
            margin-bottom: 50px;
            line-height: 100px;
        }

        .registration-form .item {
            border-radius: 20px;
            margin-bottom: 25px;
            padding: 10px 20px;
        }

        .registration-form .create-account {
            border-radius: 30px;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: bold;
            background-color: #5791ff;
            border: none;
            color: white;
            margin-top: 20px;
        }

        .registration-form .social-media {
            max-width: 600px;
            background-color: #fff;
            margin: auto;
            padding: 35px 0;
            text-align: center;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            color: #9fadca;
            border-top: 1px solid #dee9ff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        }

        .registration-form .social-icons {
            margin-top: 30px;
            margin-bottom: 16px;
        }

            .registration-form .social-icons a {
                font-size: 23px;
                margin: 0 3px;
                color: #5691ff;
                border: 1px solid;
                border-radius: 50%;
                width: 45px;
                display: inline-block;
                height: 45px;
                text-align: center;
                background-color: #fff;
                line-height: 45px;
            }

                .registration-form .social-icons a:hover {
                    text-decoration: none;
                    opacity: 0.6;
                }

    media (max-width: 576px) {
        .registration-form form

    {
        padding: 50px 20px;
    }

    .registration-form .form-icon {
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }

    }
</style>


