@model GroceryAppMvcCore.Models.Product

@{
    ViewData["Title"] = "AddStock";
    Layout = "~/Views/Shared/_AdminsLayout.cshtml";
}

<h1>AddStock</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddStock">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="ProductId" class="control-label"></label>*@
                <input type="hidden" asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a accesskey="Admins"   asp-action="ReorderNow">Back to List</a>
</div>

