
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
@*<h1 style="text-align:center;margin-top:20%">
Hii.. @ViewBag.EmployeeName
</h1>
*@

<div style="margin-top:150px;margin-left:110px">
<h1 style="font-weight:bold"><span style="color:orange">W</span>elcome <span>t</span>o <span style="color:orange">F</span>usion <span style="color:orange">M</span>art</h1>
<br />
<h5 style="padding-left:10px;">IF YOU CAN'T STOP THINKING ABOUT IT ,BUY IT</h5>
<h6 style="padding-left:100px;">STAY HOME AND SHOP ONLINE</h6>
</div>