@model ProductView
@{
    Product products = Model.Products;
    int CatgId = Model.CatgId;
    string msgg=$"https://localhost:7284/Users/AddToCart?ProdId={@products.ProductId}&CatId={CatgId}";
}


    <div class="col-sm-4 card">
    <div class="card p-2 ">
        <div class="p-info ">
            <div>
                <h5 class="mb-0">@products.ProductName</h5> <span>@products.Description</span>
            </div>
            <div class="p-price d-flex flex-row">
                <span>₹</span>
                <h1>@products.Price</h1>
            </div>
            <div class="heart"> <i class="bx bx-heart"></i> </div>
        </div>
        <div class="text-center p-image"> <img alt="Image not found" src="~/css/Images/strawberry.png"> </div>
        <div class="p-about">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed</p>
        </div>

        <div class="buttons d-flex flex-row gap-3 px-3"> <button onclick="window.location.href='https://localhost:7284/Users/ViewCart';" class="btn btn-danger w-100">View Cart</button> <button onclick="window.location.href='@msgg';" class="btn btn-outline-success w-100">Add T0 Cart</button> </div>
    </div>
</div>
