@model GroceryAppMvcCore.Models.Admin

@{
    ViewData["Title"] = "AdminLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<environment names="Development">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</environment>
<h1>AdminLogin</h1>

@if (ViewBag.Message != null)
{

    <div class="alert alert-danger alert-dismissible fade show ">
        <strong>Error!</strong> @ViewBag.Message
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

    <div class="row">
        <div class="col-md-4">
            <form asp-action="AdminLogin" asp-controller="Home">
                <div class="form-group">
                    <label asp-for="AdminName" class="control-label">AdminName</label>
                    <input asp-for="AdminName" class="form-control" />
                    <span asp-validation-for="AdminName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="login" class="btn btn-primary" />
                    
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                <label style="color:red;">@Html.Raw(ViewBag.Message)</label>
            </form>

        </div>
    </div>









