@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:150px;margin-left:110px">
<h1 style="color:white;font-weight:bold"><span style="color:orange">W</span>elcome <span style="color:orange">T</span>o <span style="color:orange">F</span>usion <span style="color:orange">M</span>art</h1>
</div>


