@model GroceryAppMvcCore.Models.User

@{
    ViewData["Title"] = "UserLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<environment names="Development">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

</environment>


<div class="container bootstrap snippets bootdey">
    <div class="row login-page">
        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="user-avatar img-thumbnail">
            <h1>UserLogin</h1>
            <form asp-action="UserLogin" asp-controller="Home">
                @if (ViewBag.Message != null)
                {

                    <div class="alert alert-danger alert-dismissible fade show ">
                        <strong>Error!</strong> @ViewBag.Message
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                }
                <div class="form-content">
                    <div class="form-group">
                        <label asp-for="EmailId" class="control-label">EmailId</label>
                        <input asp-for="EmailId" class="form-control" />
                        <span asp-validation-for="EmailId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Password</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="login" class="btn btn-primary" />
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    body {
        margin-top: 20px;
        background-image: url(https://wallpaperaccess.com/full/1624843.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .login-page {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        background: #3ca2e0;
        text-align: center;
        color: #fff;
        padding: 3em;
    }

    .user-avatar {
        width: 125px;
        height: 125px;
    }

    .login-page h1 {
        font-weight: 300;
    }

    .login-page .form-content {
        padding: 40px 0;
    }

        .login-page .form-content .input-underline {
            background: 0 0;
            border: none;
            box-shadow: none;
            border-bottom: 2px solid rgba(255,255,255,.4);
            color: #FFF;
            border-radius: 0;
        }

            .login-page .form-content .input-underline:focus {
                border-bottom: 2px solid #fff;
            }

    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }

    .btn-info {
        border-radius: 50px;
        box-shadow: 0 0 0 2px rgba(255,255,255,.8)inset;
        color: rgba(255,255,255,.8);
        background: 0 0;
        border-color: transparent;
        font-weight: 400;
    }

    input[type='text']::-webkit-input-placeholder, input[type='password']::-webkit-input-placeholder {
        color: #fff;
    }

    input[type='text']:-moz-placeholder, input[type='password']:-moz-placeholder {
        color: #fff;
    }

    input[type='text']::-moz-placeholder, input[type='password']::-moz-placeholder {
        color: #fff;
    }

    input[type='text']:-ms-input-placeholder, input[type='password']:-ms-input-placeholder {
        color: #fff;
    }

</style>


@*<div class="row">
    <div class="col-md-4">
    <form asp-action="UserLogin" asp-controller="Home">
    <div class="form-group">
    <label asp-for="EmailId" class="control-label">EmailId</label>
    <input asp-for="EmailId" class="form-control" />
    <span asp-validation-for="EmailId" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Password" class="control-label">Password</label>
    <input asp-for="Password" class="form-control" />
    <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
    <input type="submit" value="login" class="btn btn-primary" />
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger">
    </div>
    <label style="color:red;">@Html.Raw(ViewBag.Message)</label>
    </form>

    </div>
    </div>
*@